*~
*.class
build
mainGeneratedRest
target/
dist/
bin/
abtest/src/main/java/attune/abtest/generated
# builders
api/api/src/main/idl
api/api/src/main/snapshot
api/api/src/mainGeneratedDataTemplate/

out/

# Package Files #
*.war
*.ear


# Eclipse project files
.classpath
.project
.metadata
.settings

# IntelliJ files
.idea
*.iml
*.iws
*.ipr

# OSX files
.DS_Store

# Windows files
Thumbs.db

# vi swap files
*.swp

# gradle directory
.gradle
